<div class="inner cover">
    <h1 class="cover-heading">About Us.</h1>

    <p class="lead">We are gonna go into beast mode.

    <p class="lead"><a class="btn btn-lg btn-info" href="#">Learn
    more</a></p>
</div>
    

      
    